@import url(./reset.css);
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

:root{
    --qara-renk: #222;
    --ag-renk: #fff;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
* {
    outline: 1px solid red;
}
body{
    font-family: 'Roboto', sans-serif;
}
.header{
    display: flex;
    justify-content:space-between;
    padding:  42px 112.5px 16.7px ;
    align-items: center;
}

.header a {
    color: black;
    padding: 4px;
    padding-left: 30px;
    
}

.fa-bars{
    display: none;
}


/* MEDIA QUERY */
@media(max-width:1080px){
    .header {
        padding-left: 30px;
        padding-right: 30px;
        display: flex;
        justify-content: space-between;
    }
}
@media(max-width:769px) {
    .header {
        padding-left: 60px;
        padding-right: 60px;
    }
.nav-links{
    display: none;
}
.fa-bars{
    display: block;
    font-size: 24px;
    cursor: pointer !important;
}
}

@media(max-width:576px) {
    .header {
        padding-left: 20px;
        padding-right: 20px;
    }

}
@media(max-width:320px){
    
}
/* intoduction start */
 
.introduction{
    display: flex;
    justify-content: space-between;
    padding-left: 112.5px;
    padding-right: 112.5px;

}
.introduction a{
    padding-left: 20px;
}
.introduction button{
    width: 151px;
    height: 58px;
    background-color: var(--qara-renk);
    color: var(--ag-renk)
}
.introduction .intro-left-side h1 {
font-size: 4.5rem;
font-weight: 700;
}

.introduction .intro-left-side h1 span{
    color: #FF8A56;
    letter-spacing: 2px;
    line-height: 82.5px;

}

.intro-left-side{
    padding-top: 117px;
}
.intro-left-side p{
    color:#666666;

    margin-top: 34px;
    margin-bottom: 38px;
}

.intro-right-side{
    padding-top: 70px;
}
.intro-right-side img{
    width: 100%;
}


@media(max-width:1180px) {
    .introduction {
        padding-left: 60px;
        padding-right: 60px;
    }
}
@media(max-width:1080px) {
    .introduction {
        padding-left: 20px;
        padding-right: 20px;
    }
}
 @media(max-width:992px) {
    .introduction .intro-left-side h1 {
        font-size: 42px;
        text-align: center;

    }
 }
@media(max-width:768px) {
    .introduction {
        flex-direction: column;
        text-align: center;
        
    }
    .intro-left-side {
        padding-top: 80px;
    }
}
@media(max-width:320px){
    .introduction .intro-left-side h1 {
        text-align: center;
    }
    .introduction button{
        width: 70px;
        height: 24px;
    
    }
}


/* /* introduction end  */
/* PARTNYOR SECTION SRAT */
.trusted-section {
    text-align: center
}

.trusted-section h6 {
    font-size: 18px;
}

.trusted-companies {
    display: flex;
    justify-content: space-around;
    padding-top: 45px;
}

/* Pseudo class */

/* :nth-child() :first-child :last-child */


@media(max-width:768px) {
    /* .trusted-company:nth-child(3) ,
    .trusted-company:nth-child(4){
        display: none; */
        .trusted-company:nth-child(odd){
            display: none;
        }
    }
  
@media(max-width:576px){
    .trusted-company:nth-child(2){
        display: none;
    }
}

/* odd(tek) even(cut) */
/* PARTNYOR SECTION END */

/* services-section star */

.services-section{
    padding-left: 171px;
    padding-right: 171px;
    padding-top: 76.27px;
}

.services-section h6,
.services-section h1 {
    text-align: center;
}

.services-section h6 {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 22px;
    line-height: 22px;
    letter-spacing: 4px;
    
   


color: #FF5E69;
}

.services-section h1 {
    font-size: 54px;
    font-weight: 700;
    padding-top: 20px;
}
.services-section ul{
    list-style-type: square;
    list-style-position: inside;
}
.services-cards-section{
    display: flex;
    justify-content: space-between;
    padding-top: 117.95px;
    /* valideyin elemente verilir */
    flex-wrap: wrap ;
    
}
.card{
    min-width: 252px;
    width: 252px;
}
.services-cards-section .card h3 {
    font-weight: 700;
    font-size: 22px;
    line-height: 26px;
    padding-top: 39px ;
}
.services-cards-section p {
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    color: #666666;
    padding-top: 22px;
}
.services-cards-section .card li {
    padding-top: 20px;
    font-weight: 700;
    font-size: 16px;

}
@media(max-width:1080px){
    .services-section{
        padding-left: 30px;
        padding-right: 30px;
    }
}
@media(max-width:991px){
    .services-cards-section{
        padding: 90px;

    }
    .services-section .card{
       margin-top: 40px;
    }
}

@media(max-width:768px){
    .services-section{
        padding-left: 60px;
        padding-right: 60px;
    }
}
@media(max-width:576px){
    .services-section{
        padding-left: 10px;
        padding-right: 10px;
    }
    .services-cards-section{
        padding-left: 60px;
    }
}
@media(max-width:320px){
    .services-cards-section{
        padding-left: 20px;
    }
}
.projects-section .view-all-projects{
    flex-wrap: wrap;
}

/*PROJECT SECTION START */
/* child selector */
.projects-section > h6{
    letter-spacing: 4px;
    text-transform: uppercase;
    color: #B16CEA;
    font-weight: 700;
    padding-left: 113px;
    padding-top: 76.27px;
}

.view-all-projects{
    padding: 20px 112px 70px 113px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.view-all-projects h2{
    font-size: 54px;
    font-weight: 700;
}
.view-all-projects button{
    background: #222;
    color: #fff;
    padding: 17px;
}
.projects-cards-section{
    display: flex;
    padding-left: 113px;
    justify-content: space-between;

}

.projects-cards-section .card{
    width: 486px;
    margin-right: 24px;
    /* background-color: #3C46FF; */

}
.projects-cards-section .card .card__top{
    width: 100%;
    height: 305px;

}
.projects-cards-section .card .card__top img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.projects-cards-section .card .card__bottom h6{
    font-weight: 700;
    font-size: 14px;
    line-height: 14px;
    letter-spacing: 4px;
    text-transform: uppercase;
    color: #3C46FF;
}
.projects-cards-section .card .card__bottom h2{
    font-weight: 700;
    font-size: 24px;
    padding-top: 16px;
    padding-bottom: 19px;

}
.projects-cards-section .card .card__bottom a{
    padding-top: 100px;
    
}
.projects-cards-section .card .card__bottom{
    padding-left: 16px;
    padding-top: 16px;
    background-color: #fff;
}
@media(max-width:1080px){
    .projects-section h6 {
        padding-left: 30px;
        padding-right: 30px;
    }
    .view-all-projects{
        padding-left: 30px;
        padding-right: 30px;
    }
}
@media(max-width:991px){
    .projects-cards-section{
        padding-left: 10px;
    }
}
@media(max-width:768px){
.card:last-child {
    display: none;
}
}
@media(max-width:576px){
    .card:not(:first-child){
        display: none;
        
    }
    .view-all-projects{
        padding-left: 10px;
        padding-right: 10px;
    }
}

/* PROJECT SECTION END */

/* LATEST BLOG SECTION Start*/

.latest-blog-section {
    display: flex;
    background-color : #222;
    color: #fff;
    padding: 100px 113px;
    margin-top: -105px;
}

.latest-blog-section .left-side h3{
    padding-top: 118px;
    font-weight: 700;
    font-size: 22px;
    letter-spacing: 4px;
    text-transform: uppercase;
    color: #FFA84B;
}
.latest-blog-section .left-side h1 {
    font-weight: 700;
    padding-bottom: 32px;
    padding-top: 20px;
    font-size: 54px;
    letter-spacing: 1px;
}
.latest-blog-section .left-side a {
    padding: 6px;
}



.latest-blog-section a {
    color: #fff;
    padding: 6px;
}

.latest-blog-section .left-side {
    /* width: 40%; */
    flex-basis: 40%;
}
.latest-blog-section .right-side{
    /* width: 60%; */
    flex: 1;
    padding-top: 159px;
}
.latest-blog-section .right-side h2 {
    padding-top: 26px;
    padding-bottom: 39px;
    font-weight: 700;
    font-size: 28px;
    
}
.blog{
    border-bottom: 1px solid  rgba(255, 255, 255, 0.7);
    padding: 40px 0;
}
.metadata{
    color: rgba(255, 255, 255, 0.7);
}

@media(max-width:1080px){
    .latest-blog-section{
        padding-left: 30px;
        padding-right: 30px;
    }
}

@media(max-width:768px){
    .latest-blog-section{
        padding-left: 10px;
        padding-right: 10px;
        flex-direction: column;
    }
}

/* LATEST BLOG SECTION End */

/* PRODUCT SECTION START */
.product-section{
    padding: 80px 112.5px; 
    /* background-color: #FF5E69; */
}
.product-section .view-all-product {
    display: flex;
    justify-content: space-between;
}
.product-section h6 {
    font-weight: 700;
    font-size: 22px;
    letter-spacing: 4px;
    text-transform: uppercase;
    color: #FF5E69;
}
.product-section .view-all-product h2{
    margin-bottom: 115px;
    padding-top: 15px;
    font-weight: 700;
    font-size: 54px;
    letter-spacing: 1px;
}
.product-section .view-all-product p {
    font-weight: 400;
    font-size: 22px;
    line-height: 40px;
    color: #666666;
}

.product-images-section{
    display: flex;
    height: 626px;
    /* width: 100%; */
}
.product-main{
    margin: 0 16px;
}
.product-images-section .product-left-side,
.product-images-section .product-main,
.product-images-section .product-right-side {
    height: 626px;
    /* width: 100%; */
}
.product-right-side .right-side-top ,
.right-side-bottom {
    height: 305px;
}
.product-left-side img ,
.product-main img ,
.right-side-top img ,
.right-side-bottom {
    height: 100%;
    object-fit: cover;
    width: 100%;

}
.right-side-top {
    height: 305px;
    margin-bottom: 16px;
}
.right-side-bottom{
    height: 305px;
}
.right-side-top img {
    height: 100%;
}
.right-side-bottom img {
    height: 100%;
}

@media(max-width:1180px){
    .product-section{
        padding-left: 30px;
        padding-right: 30px;
    }
    .view-all-product p{
        display: flex;
        justify-content: space-between;

    }
}
@media(max-width:1080px){
       .product-section.view-all-product h2 {
        font-weight: 400;
        font-size: 24px;
        letter-spacing: 1px;
    }
    .product-section .view-all-product p {
        /* font-weight: 700; */
        font-size: 19px;
        
    }

}
 @media(max-width:992px){
    .product-section .view-all-product p {
        /* font-weight: 700; */
        font-size: 16px;
        
    }
    .product-left-side{
        display: none;
        
    }
}
@media(max-width:768px){
    .product-section {
        display: flex;
        padding-left: 10px;
        padding-right: 10px;
        flex-direction: column;
        flex-wrap: wrap;
    }
    .product-section .view-all-product {
        display: flex;
        flex-direction: column;
        
    }
    .product-images-section {
        display: flex;
        flex-direction: column;
        /* flex-wrap: wrap; */
      

    }
    .product-images-section :not(:first-child){
        display: none;
    }
    
}
@media(max-width:576px){
    .product-images-section{
        display: flex;
        flex-wrap: wrap;
        width: 100%;
    }
    .product-images-section .product-left-side {
        width: 100%;
        height: 100%;
        height: 626px;
    }
}
@media(max-width:320px){

}

/* PRODUCT SECTION END */

/* EDUCATION SECTION START */
.education-work-section{
    display: flex;
    /* justify-content: center; */
    padding: 74px 100px 0 100px;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
}
.education-side{
    flex-basis: 50%;
    min-width: 447px;
    width: 100%;
}
.education-side > h1 {
    font-weight: 400;
    font-size: 36px;
    margin-bottom: 43px;
}
.education {
    border-bottom: 1px solid #E5E5E5;
    padding: 20px 20px 20px 0;
}
.education-top{
    display: flex;
    justify-content: space-between;
}
.education-top h2 {
    font-weight: 700;
    font-size: 24px;
}
.education-bottom{
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
}
.education-bottom span {
    /* margin-top: 40px; */
    
}
.education-bottom > span:nth-child(2){
    margin-right: 40px;
    
}
.work-side {
    flex: 1;
    min-width: 447px;
}
.work-side > h1 {
    font-size: 36px;
    margin-bottom: 43px;
}
.work-section{
    display: flex;
    align-items: center;
    
}
.work-section>a{
    flex-basis: 10%;
    
    
} 
.work {
    display: flex;
    flex-direction: column;
    flex: 1;
    border-bottom: 1px solid #E5E5E5;
    padding: 20px 20px 20px 0;
}
.work-top{
display: flex;
justify-content: space-between;
}
.work-top h1{
    font-weight: 700;
    font-size: 24px;
}
.work-bottom{
display: flex;
justify-content: space-between;
padding-top: 20px;
}
.work-bottom span{
    /* margin-top: 40px; */
    color: rgba(0, 0, 0, 0.6);
}
.work-bottom > span:nth-child(2){
    margin-right: 40px;
}
/* @media(max-width:991px) {
    .education-side{
        flex: 1;
    }
} */
@media(max-width:1180px){
}
@media(max-width:1080px){
    
}
 @media(max-width:992px){
    .education-work-section{
        padding-left: 30px;
        padding-right: 30px;
    }
    .education-side {
        flex-basis: 100%;
    }

}
@media(max-width:768px){
    .education-work-section {
        display: flex;
        flex-direction: column;
        padding-left: 10px;
        padding-right: 10px;
        /* width: 100%; */
    }
    .education-side {
        /* width: 100%; */
    }

}
@media(max-width:576px){
.education-side{
    
}
}
@media(max-width:320px){
    .education-work-section {
        display: flex;
        flex-direction: column;
      }
    .education-side,
    .work-side {
      width: 100%;
    }
}
/* EDUCATION SECTION END */

/* TESTIMONIALS SECTION START */
.testimonials-section{
padding: 50px 112px 0 113px;

}
.testimonials{
    display: flex;
    justify-content: space-between;
    padding-top: 85px;
}
.testimonials-section h4{
    /* padding-left: 45px; */
    font-weight: 700;
    font-size: 22px;
    line-height: 22px;
    letter-spacing: 4px;
    text-transform: uppercase;
    color: #4353FF;
}
.testimonials-section h1{
    /* padding-left: 45px; */
    padding-top: 20px;
    font-weight: 700;
    font-size: 54px;
    line-height: 59px;
    letter-spacing: 1px;
    color: #000000;
}
.testimonials .left-side img{
    width: 100%;
    height: 405 px;
}
.testimonials .right-side >img{
    margin-top: 35px;
    /* background-color: #666666; */
}
.testimonials .right-side p {
    font-weight: 700;
    font-size: 36px;
    line-height: 47px;
    padding-top: 32px;
}
.testimonials .right-side .name {
    /* background-color:#3C46FF; */
    display: flex;
    justify-content: space-between;
    margin-top: 28px;
}
.testimonials .right-side h5{
    font-weight: 700;
    font-size: 20px;
    padding-top: 7px;
}
.testimonials .right-side h6{
    font-weight: 400;
    font-size: 18px;
    padding-top: 8px;
}
@media(max-width:1180px) {
    .introduction {
        padding-left: 60px;
        padding-right: 60px;
    }
    .testimonials .right-side .name {
        margin-top: 90px;
        
    }
}
@media(max-width:1080px) {
    .introduction {
        padding-left: 20px;
        padding-right: 20px;
    }
    .testimonials .right-side .name {
        margin-top: 90px;

    }
}
 @media(max-width:992px) {
    .introduction .intro-left-side h1 {
        font-size: 42px;
        text-align: center;

    }
    .testimonials .right-side .name {
        margin-top: 15px;
        
    }
    .testimonials-section{
        padding-left: 30px;
        padding-right: 30px;
    }
    .testimonials .right-side p{
        /* font-size: 10px; */
    }
 }
@media(max-width:768px) {
    .testimonials-section{
        padding-left: 10px;
        padding-right: 10px;

    }
    .testimonials{
        flex-wrap: wrap;
    }
    .introduction {

        flex-direction: column;
        text-align: center;
        
    }
    .intro-left-side {
        padding-top: 80px;
    }
}
@media(max-width:320px){
    .testimonials-section .testimonials{
        text-align: center;
        flex-direction: column;
        flex-wrap: wrap;
    }
    .testimonials .right-side p{
        font-weight: 700;
        font-size: 36px;
        
        padding-top: 16px;
    }

}

/* TESTIMONIALS SECTION END */

/* FAQ SECTION START */
.faq-section{
    padding: 78px 112.5px 71px;
    background-color: #000000;
    color: #fff;
}
.faq-section h3{
    text-align: center;
    font-weight: 700;
    font-size: 22px;
    letter-spacing: 4px;
    text-transform: uppercase;
    color: #FF8A56;
}
.faq-section h1{
    text-align: center;
    padding-top: 20px;
    padding-bottom: 150px;
    font-weight: 700;
    font-size: 54px;
    letter-spacing: 1px;
}
.blog-section{
    display: flex;
    justify-content: space-around;
}
.blog-section .left-side {
    width: 48%;
}
.blog-section .right-side {
    width: 48%;
}
.blog-section {
    display: flex;
    justify-content: space-between;
    /* padding: 40px 80px; */
    text-align: left;
}
.blog-section .blog h2{
    display: inline;
    width: 100%;
}
.blog-section .blog {
    display: flex;
    justify-content: space-between
}
@media(max-width:1180px){
}
@media(max-width:1080px){
}
 @media(max-width:992px){
    .faq-section {
        padding-left: 30px;
        padding-right: 30px;
    }
}
@media(max-width:768px){
    .faq-section{
        padding-left: 10px;
        padding-right: 10px;
    }
}
@media(max-width:576px){
}
@media(max-width:320px){
}


/* FAQ SECTION END */
/* Footer section start */
.footer-section{
    padding: 178px 113px 20px;
    background-color: #000000;
    color: #fff;

}
.footer-section h1{
    font-weight: 700;
font-size: 54px;
}
.footer-section h2{
    font-weight: 700;
font-size: 54px;
color: #3C46FF;
}

.footer-section .section {
    display: flex;
    justify-content: space-between;
    padding-top: 98px;
}
.footer-section .section .left-side .logo .footer-top {
    display: flex;
    flex-direction: column;
    padding-bottom: 17px;
}
.footer-section .section .left-side .logo .footer-top img {
    padding-bottom: 20px;
}
.footer-section .section .left-side .logo .footer-bottom{
    display: flex;
    
}
.footer-section .section .right-side {
    display: flex;
    justify-content: space-between;
}
.footer-section .section .right-side .left a,
.footer-section .section .right-side .main a,
.footer-section .section .right-side .right a {
    display: flex;
    flex-direction: column;
    padding-bottom: 40px;
    padding-left: 100px;
    color:#fff;
}

.footer-section .footer {
    padding-top: 141px;
    
}
.footer-section .footer a{
    color: #8A95AD;
}
@media(max-width:1180px){
}
@media(max-width:1080px){
}
 @media(max-width:992px){
    .footer-section{
        padding-left: 30px;
        padding-right: 30px;
    }
}
@media(max-width:768px){
    .footer-section{
        padding-left: 10px;
        padding-right: 10px;
    }
    .footer-section .section {
        flex-wrap: wrap;
    }
    .footer-section .section .right-side a {
        padding-left: 36px;
    }
}
@media(max-width:576px){
    .footer-section .section .right-side .left a,
    .footer-section .section .right-side .main a,
    .footer-section .section .right-side .right a {
    display: flex;
    flex-direction: column;
    padding-bottom: 20px;
    padding-left: 30px;
    
    
}
}
@media(max-width:320px){
}

/* Footer section end */
