@import url(./reset.css);
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

:root{
    --qara-renk: #222;
    --ag-renk: #fff;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Roboto', sans-serif;
}
.header{
    display: flex;
    justify-content:space-between;
    padding:  42px 112.5px 16.7px ;
    align-items: center;
}

.header a {
    color: black;
    padding: 4px;
    padding-left: 30px;
    
}

.fa-bars{
    display: none;
}


/* MEDIA QUERY */
@media(max-width:768px) {
    .header {
        padding-left: 60px;
        padding-right: 60px;
    }
.nav-links{
    display: none;
}
.fa-bars{
    display: block;
    font-size: 24px;
    cursor: pointer !important;
}
}

@media(max-width:576px) {
    .header {
        padding-left: 20px;
        padding-right: 20px;
    }

}
/* intoduction start */
 
.introduction{
    display: flex;
    justify-content: space-between;
    padding-left: 112.5px;
    padding-right: 112.5px;

}
.introduction a{
    padding-left: 20px;
}
.introduction button{
    width: 151px;
    height: 58px;
    background-color: var(--qara-renk);
    color: var(--ag-renk)
}
.introduction .intro-left-side h1 {
font-size: 4.5rem;
font-weight: 700;
}

.introduction .intro-left-side h1 span{
    color: #FF8A56;
    letter-spacing: 2px;
    line-height: 82.5px;

}

.intro-left-side{
    padding-top: 117px;
}
.intro-left-side p{
    color:#666666;

    margin-top: 34px;
    margin-bottom: 38px;
}

.intro-right-side{
    padding-top: 70px;
}
.intro-right-side img{
    width: 100%;
}


@media(max-width:1180px) {
    .introduction {
        padding-left: 60px;
        padding-right: 60px;
    }
}
@media(max-width:1080px) {
    .introduction {
        padding-left: 20px;
        padding-right: 20px;
    }
}
 @media(max-width:992px) {
    .introduction .intro-left-side h1 {
        font-size: 42px;
        text-align: center;

    }
 }
@media(max-width:768px) {
    .introduction {
        flex-direction: column;
        text-align: center;
        
    }
    .intro-left-side {
        padding-top: 80px;
    }
}
@media(max-width:320px){
    .introduction .intro-left-side h1 {
        text-align: center;
    }
}


/* /* introduction end  */
/* PARTNYOR SECTION SRAT */
.trusted-section {
    text-align: center
}

.trusted-section h6 {
    font-size: 18px;
}

.trusted-companies {
    display: flex;
    justify-content: space-around;
    padding-top: 45px;
}

/* Pseudo class */

/* :nth-child() :first-child :last-child */


@media(max-width:768px) {
    /* .trusted-company:nth-child(3) ,
    .trusted-company:nth-child(4){
        display: none; */
        .trusted-company:nth-child(odd){
            display: none;
        }
    }
  
@media(max-width:576px){
    .trusted-company:nth-child(2){
        display: none;
    }
}

/* odd(tek) even(cut) */
/* PARTNYOR SECTION END */

/* services-section star */

.services-section{
    padding-left: 171px;
    padding-right: 171px;
    padding-top: 76.27px;
}

.services-section h6,
.services-section h1 {
    text-align: center;
}

.services-section h6 {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 22px;
    line-height: 22px;
    letter-spacing: 4px;
    
   


color: #FF5E69;
}

.services-section h1 {
    font-size: 54px;
    font-weight: 700;
    padding-top: 20px;
}
.services-section ul{
    list-style-type: square;
    list-style-position: inside;
}
.services-cards-section{
    display: flex;
    justify-content: space-between;
    padding-top: 117.95px;
    /* valideyin elemente verilir */
    flex-wrap: wrap ;
    
}
.card{
    min-width: 252px;
    width: 252px;
}
.services-cards-section .card h3 {
    font-weight: 700;
    font-size: 22px;
    line-height: 26px;
    padding-top: 39px ;
}
.services-cards-section p {
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    color: #666666;
    padding-top: 22px;
}
.services-cards-section .card li {
    padding-top: 20px;
    font-weight: 700;
    font-size: 16px;

}
@media(max-width:768px){
    .services-section{
        padding-left: 60px;
        padding-right: 60px;
    }
}

/*PROJECT SECTION START */
/* child selector */
.projects-section > h6{
    letter-spacing: 4px;
    text-transform: uppercase;
    color: #B16CEA;
    font-weight: 700;
    padding-left: 113px;
    padding-top: 76.27px;
}

.view-all-projects{
    padding: 20px 112px 70px 113px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.view-all-projects h2{
    font-size: 54px;
    font-weight: 700;
}
.view-all-projects button{
    background: #222;
    color: #fff;
    padding: 17px;
}
.projects-cards-section{
    display: flex;
    padding-left: 113px;
    justify-content: space-between;

}

.projects-cards-section .card{
    width: 486px;
    margin-right: 24px;
    /* background-color: #3C46FF; */

}
.projects-cards-section .card .card__top{
    width: 100%;
    height: 305px;

}
.projects-cards-section .card .card__top img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.projects-cards-section .card .card__bottom h6{
    font-weight: 700;
    font-size: 14px;
    line-height: 14px;
    letter-spacing: 4px;
    text-transform: uppercase;
    color: #3C46FF;
}
.projects-cards-section .card .card__bottom h2{
    font-weight: 700;
    font-size: 24px;
    padding-top: 16px;
    padding-bottom: 19px;

}
.projects-cards-section .card .card__bottom a{
    padding-top: 100px;
    
}
.projects-cards-section .card .card__bottom{
    padding-left: 16px;
    padding-top: 16px;
    background-color: #fff;
    
}


@media(max-width:991px){
    .projects-cards-section{
        padding-left: 10px;
    }
}
@media(max-width:769px){
    .projects-cards-section .card:last-child{
        display: none;
    }
}
@media(max-width:576px){
    .projects-cards-section .card:not(:first-child){
        display: none;
}
}

/* PROJECT SECTION END */

/* LATEST BLOG SECTION */

.latest-blog-section {
    display: flex;
    background-color: #222;
    color: #fff;
    padding: 100px 113px;
    margin-top: -105px;
}
.latest-blog-section .left-side h3{
    padding-top: 118px;
    font-weight: 700;
    font-size: 22px;
    letter-spacing: 4px;
    text-transform: uppercase;
    color: #FFA84B;
}
.latest-blog-section .left-side h1 {
    font-weight: 700;
    padding-bottom: 32px;
    padding-top: 20px;
    font-size: 54px;
    letter-spacing: 1px;
}
.latest-blog-section .left-side a {
    
}



.latest-blog-section a {
    color: #fff;
}

.latest-blog-section .left-side {
    /* width: 40%; */
    flex-basis: 40%;
}
.latest-blog-section .right-side{
    /* width: 60%; */
    flex: 1;
    padding-top: 159px;
}
.latest-blog-section .right-side h2 {
    padding-top: 26px;
    padding-bottom: 39px;
    font-weight: 700;
    font-size: 28px;
    
}
.latest-blog-section .right-side  img {
  
 

}

.blog{
    border-bottom: 1px solid  rgba(255, 255, 255, 0.7);
    padding: 40px 0;
}
.metadata{
    color: rgba(255, 255, 255, 0.7);
}